<%- include("./partials/header-no-nav") %>

<link rel="stylesheet" href="/stylesheets/home.css">

<div class="jumbotron">
	<h1 class="display-4">Discover Your Next Adventure</h1>
	<p class="lead">Search national parks and activities</p>
	<div>
		<a class="btn btn-warning btn-lg d-inline" href="/search" role="button">Find My Parks</a>
		<a class="btn btn-primary btn-lg d-inline" href="/parks" role="button">Explore All</a>
	</div>
</div>

<%- include("./partials/footer") %>