<%- include("./partials/header-no-nav") %>

<link rel="stylesheet" href="/stylesheets/home.css">

<div class="jumbotron">
	<h1 class="display-4">Discover Your Next Adventure</h1>
	<div>
		<a class="btn btn-warning btn-lg d-inline" href="/search" role="button">Find My Parks</a>
	</div>
</div>

<%- include("./partials/footer") %>