@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
	--orange: #FF8B45;
	--orange-dark: #DE6F34;
	--gray: rgba(0, 0, 0, 0.1);
}

body {
	background: url("https://images.unsplash.com/photo-1512036666432-2181c1f26420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=100");
	background-repeat: none;
	background-size: cover;
	background-position: center;
}

.jumbotron {
	display: inline-grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	height: 35vh;
	margin: 18vh 10vh auto 10vh;
	float: right;
	padding: 32px 32px;
	color: black;
	background: none;
}

.jumbotron h1 {
	font-family: 'Rock Salt', cursive;
	margin-bottom: 50px;
}

.btn {
	border: none;
	font-size: 1.5rem;
	padding: 15px 25px;
	background: var(--orange);
    box-shadow: 0 3px 0 var(--orange-dark);
	color: white;
}

.btn:hover {
	background: #DE6F34;
	color: white;
}

