@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
	--orange: hsl(9, 61%, 70%);
	--orange-dark: #C84630;
	--gray: #898989;
	--gray-light: #E3E3E3;
	--green: #5DA271;
}

body {
	font-size: 1.2rem;
	height: 100vh;
}

.navbar-brand {
	font-family: 'Rock Salt', cursive;
	font-size: 1rem;
	font-weight: bold;
	color: var(--orange-dark) !important;
}

.nav-link {
	color: var(--orange-dark) !important;
}

.dropdown-menu {
	min-width: 35rem;
}

.dropdown-column {
	border-right: 1.5px solid transparent;
    /* border-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.75) 48%, (rgba(0, 0, 0, 0.1) 100%)) 1;
    -webkit-border-image: 
      -webkit-linear-gradient((rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1))) 1;
    -moz-border-image:
      -moz-linear-gradient((rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1))) 1;  
    -o-border-image:
      -o-linear-gradient((rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1))) 1;
    border-image:
      linear-gradient(0deg, (rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1))) 1; */
	border-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
}

.h5 {
	font-size: 1.2rem;
}

.container-lg{
	max-width: 1200px;
	margin: auto;
}

.container {
	width: 80%;
	max-width: 1920px;
}

.card-home {
	width: 25%; 
	height: auto;
}

.home-section h2 {
	text-align: center;
}

.carousel-caption {
	background: rgba(0,0,0,0.5);
	width: 100%;
	right: 0%;
	left: 0%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	height: 25px;
	width: 25px;
}

.carousel-item {
	background: black;
}

.carousel-item img {
	object-fit: contain;
	width: 100%;
	max-height: 90vh;
}

.carousel {
	width: 70%;
}

.parkSearchResult {
	width: 22rem;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 10px;
	margin: 10px 10px;
}

.parkSearchResult .card-title {
	margin: 0;
}

.parkSearchResult img {
	object-fit: contain
}

#park-nav {
	border-bottom: 1px solid var(--gray);
	border-top: 1px solid var(--gray);
	width: 80%;
}

ul {
	list-style: none;
}

#overview-description {
	width: 50rem;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}


.address {
	font-size: 1.2rem;
}

.entry-fee {
	font-size: 1.5rem;
}

#activity-container {
	width: 70%;
	margin: auto;
}

input[type=checkbox]:hover + label {
	background: var(--orange-dark);
}

input[type=checkbox]:checked + label {
	background: var(--orange);
}

.activity-icon-and-caption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	height: 60px;
	width: 400px;
	margin: 8px;
	border: 1px solid var(--green);
	border-radius: 15px;
	font-size: 1rem;
}

.activity-icon {
	width: 100px;
	text-align: center;
	font-size: 2.5rem;
	padding: 10px 10px;
	color: var(--green);
}

.activity-icon-and-caption h5,label {
	padding: 10px 2px;
	margin: 0 0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 300px;
	height: 100%;
	background: var(--green);
	color: white;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-section-title {
	text-align: center;
}

.map-section {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.park-info-group {
	border: 1px solid black;
	border-radius: 10px;
}

.park-info-item {
	padding: 10px 20px;
	border-top: 1px solid black;
}

.park-info-title {
	padding: 10px 20px;
	margin: 0;
	color: white;
	background-color: var(--green);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.form-group label {
	all: unset;
}

.masonry-container { 
  column-count: 3;
  column-gap: 1em;
}

.masonry-item { 
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.masonry-item h5 {
	margin: 0;
	object-fit: contain;
}

.masonry-item h5 a {
	color: var(--green);
}

.masonry-item img {
	max-width: 100%;
	border-radius: 10px;
}

.search-criteria-section button{
	margin: 3px 0;
}

.form-control {
	border-radius: 20px;
}

#navbar-search {
	position: relative;
	transform: translateX(-42px);
	background: none;
}

#main-nav {
	background-color: white!important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px; 
	transition: box-shadow 300ms ease-in-out 0s;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

.p-70 {
	padding-top: 70px;
}

#search-criteria-bar {
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
}

#search-criteria-bar span {
	margin-right: 20px;
}

#new-search {
	float: right;
	background-color: var(--orange-dark);
}

#new-search a {
	color: white;
}

.btn-warning {
	border: none;
	font-size: 1.5rem;
	padding: 15px 25px;
	background: var(--orange);
    box-shadow: 0 3px 0 var(--orange-dark);
	color: white;
}

.btn-warning:hover {
	background: #DE6F34;
	color: white;
}